{%- if image.description -%}
{{ image.description }}
{%- else -%}
{%- if image.title -%}
This is {{ image.title }}.
{%- else -%}
No description available for this image.
{%- endif -%}
{%- endif -%}
{%- if image.author %} By {{ image.author }}.{% endif -%}
{%- if image.source_name and image.source_name != "manual" %} From {{ image.source_name }}.{% endif -%}