{%- if image.title -%}
Showing {{ image.title }}
{%- if image.source_name and image.source_name != "manual" %} from {{ image.source_name }}{% endif -%}
.
{%- else -%}
Showing the next picture
{%- if image.source_name and image.source_name != "manual" %} from {{ image.source_name }}{% endif -%}
.
{%- endif -%}